/* GENERAL */

* {
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: 'VT323', monospace;
    font-size: 24px;
    box-sizing: border-box;
}

html {
    height: auto;
    width: auto;
}

body, #game-container {
    height: 100%;
    width: 100%;
}

html {
    background: linear-gradient(rgb(77, 242, 77), rgb(24, 165, 24));
}

/* FONT, COLORS, BORDER */

.border {
    border: 3px solid white;
}

.bold {
    font-weight: 600;
}

.green {
    color: rgb(26, 124, 26);
}

.red {
    color: rgb(211, 46, 46);
}

.blue {
    color: rgb(41, 77, 207);
}

.yellow {
    color: rgb(255, 255, 0);
}

.violet {
    color: rgb(150, 45, 230);
}

.container {
    padding: 10px;
}

h1 {
    font-size: 30px;
    border: 5px dotted white;
    padding: 8px 25px;
}

#board {
    border: 5px dotted white;
}

/* PARTICULAR STYLE */

#speed-plus {
    border: 2px solid rgb(150, 45, 230);
    color: rgb(150, 45, 230);
    background: rgb(255, 255, 255);
    cursor: pointer;
}

#game-container {
    padding: 35px;
    text-align: center;
    color: rgb(26, 124, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.btn-container {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-container button {
    margin: 0px 5px;
    padding: 10px;
    color: rgb(191, 186, 186);
    border: 2px solid rgb(191, 186, 186);
    background: rgb(26, 124, 26);
    cursor: pointer; 
}

.btn-container button.active {
    color: white;
    border: 2px solid white;
}

p.score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.no-blueberry {
    display: none;
}

button:disabled, #speed-plus:disabled {
    cursor: default;
}
